@media (max-width: 768px) {
    .img {
        width: 210px;
        height: 290px;
    }
}

@media (max-width: 576px) {
    .img {
        width: 180px;
        height: 260px;
    }
}

@media (min-width: 768px) {
    .img {
        width: 200px;
        height: 270px;
    }
}