// screen width = 1536px

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: blue;
}

.header {
    border-radius: 10px;
    background-color: #82b900;
    box-shadow: 0 2px 4px #000;
    position: sticky;
    top: 0
}

.firstBlock {
    img {
        width: 40px;
    }
}

.svgAnchor:hover {
    color: blue;
}

.dark {
    background-color: #161b22;
}

.darkText {
    color: white
}